.row.architecture
  .col-xs-1.col-md-1
  .col-xs-12.col-md-6
    %h2 Architecture
    .architecture-text
      %p
        %b GitLab CI/CD
        is built into GitLab, a web application with an API
        that stores its state in a database.
        It manages projects/builds and provides a nice user interface,
        in addition to other GitLab features.
      %p
        %b GitLab Runner
        is an application that processes builds. It
        can be deployed separately and works with GitLab CI/CD through an API.
      %p
        In order to run tests, you need at least one
        %b GitLab
        instance
        and one
        = succeed "." do
          %b GitLab Runner
  .hidden-xs.hidden-sm.col-md-4
    = image_tag "/images/ci/ci-cd-architecture_2x.png", class: "gitlab-arch hidden-xs", alt: "Gitlab ci cd architecture png"
%hr#gitlab-runner.divider/
